body {
    position: relative;
  }

  #profile-pic{
    border-radius: 50%;
    align-content: center;
  }

  #socials{
    background: #FAFAFF;
    height: 400px;
  }

  #section4{
    background: #FAFAFF;
    height: 1550px;
  }
  #portfolio{
    background: #FFFFFF;

  }

.section-heading ,
.section-title {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  border-left: 3px solid black;
  border-right: 3px solid black;
  transition: all 0.4s;
  display: inline-block;
  padding: 4px 32px;
}
.section-heading:hover {
  padding: 4px 48px;
  color: white;
  background: red;
}
.section-title:hover {
  padding: 4px 48px;
  color: white;
  background: red;
}
  
#project__members{
  background-color: #FF9898;
}
#project__members .container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}
#project__members .container .card{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(225, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(225, 255, 255, 0.5);
  border-left: 1px solid rgba(225, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
#project__members .container .card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  transform: translate(0%,-120%);
  opacity: 1;
}
#project__members .container .card .content{
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
}
#project__members .container .card:hover .content{
  transform: translateY(0px);
  transition: 0.3s;
  opacity: 1;
}

#home__animate .container{
  text-align: center;
  padding-top: 300px;
  padding-bottom: 100px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 700px;
}
#home__animate .container span{
  text-transform: uppercase;
  display: block;
}

.text1{
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: black;
  position: relative;
  animation: text 3s 1;
}
.text2{
  font-size: 30px;
  color: #6ab04c;
}

@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}


#social-media-footer a .fa-facebook,
#social-media-footer a .fa-youtube,
#social-media-footer a .fa-github,
#social-media-footer a .fa-linkedin {
  color: #D3D3D3;
  transition: 0.4s;
}
#social-media-footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}
#social-media-footer ul li {
  font-size: 48px;
  padding: 16px;
  transition: 0.4s;
}
#social-media-footer ul li:hover a .fa-youtube {
  color: red;
}
#social-media-footer ul li:hover a .fa-facebook {
  color: #3b5998;
}
#social-media-footer ul li:hover a .fa-github {
  color: black;
}
#social-media-footer ul li:hover a .fa-linkedin {
  color: #4761EC;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
} 
::-webkit-scrollbar-thumb {
  background: #2FA59D;
}
::-webkit-scrollbar-thumb:hover {
  background: #53BADA;
}

@media screen and (max-width: 770px){

  #section4{
    height: auto;
  }

}